.mythos-grid {
	display: grid;
	grid-template-columns: max-content repeat(3, minmax(0, 70px));
	gap: 5px;
	margin-bottom: 15px;
}

.mythos-grid .mythos-stage {
	text-align: right;
}

.mythos-grid .new-stage {
	margin-top: 10px;
}

.mythos-grid input {
	text-align: center;
	color: white;
	font-weight: bold;
}

.mythos-grid .mythos-green {
	background-color: #467e25;
}

.mythos-grid .mythos-yellow {
	background-color: #e8b54b;
}

.mythos-grid .mythos-blue {
	background-color: #5870c4;
}

.mythos-error {
	color: red;
}

.mythos legend {
	font-variant-caps: small-caps;
}

.mythos .traits {
	margin-bottom: 10px;
}

.mythos .box-drawn {
	display: flex;
	gap: 10px;
}

.mythos .box-card {
	flex-grow: 1;
	margin-top: 0;
	margin-bottom: 5px;
}
